body {
    /* background-color: #516C8D; */
    /* background-color: #CCCCCC; */
    /* position: relative;
    z-index: 10; */
}
.header , .footer{
    background-color: #28385E;
    height: 75px;
}
h2, p {
    /* color: #CCCCCC; */
    color: #28385E;
}
h1, h2 {
    text-align: center;
    margin-bottom: 50px;
}
h3 {
    text-align: center;
}
section {
    margin-top: 100px;
}
p {
    font-size: 20px;
}
.bg-c {
    background-color: #CCCCCC;
    padding-top: 20px;
    padding-bottom: 20px;
}
.bold{ font-weight: bold; }


.kakko {
	padding: 30px;
	position: relative;
}

.kakko::before, .kakko::after {
	content: '';
	width: 30px;
	height: 30px;
	position: absolute;
    z-index: 2;
}

.kakko::before {
	border-left: solid 5px #6A91C1;
	border-top: solid 5px #6A91C1;
	top: 0;
	left: 0;
}

.kakko::after {
	border-right: solid 5px #6A91C1;
	border-bottom: solid 5px #6A91C1;
	bottom: 0;
	right: 0;
}

.kagikakko {
	padding: 30px;
	position: relative;
}

.kagikakko::before, .kagikakko::after {
	content: '';
	width: 15px;
	height: 100%;
	position: absolute;
    z-index: 3;
}

.kagikakko::before {
	border-left: dotted 1px #6A91C1;
	border-top: dotted 1px #6A91C1;
	border-bottom: dotted 1px #6A91C1;
	top: 0;
	left: 0;
}

.kagikakko::after {
	border-right: dotted 1px #6A91C1;
	border-top: dotted 1px #6A91C1;
	border-bottom: dotted 1px #6A91C1;
	top: 0;
	right: 0;
}
/* .z-index {
    z-index: 9999;
} */
/* -------------header ----------------*/
.log-img{
    width: 75px;
    height: 75px;
}
.log-img img {
    width: 100%;
    height: auto;
}
.top {
    background-color: #CCCCCC;
}
/* .image {
    height: 200px;
    width: auto;
} */
.nav {
    position: relative;
}
.top-button {
    position: absolute;
    /* top: 10px; */
    top: 25%;
    right: 10px;
    bottom: auto;
    z-index: 9;
}
.btn-light {
    background-color: #CCCCCC;
    border-color: #CCCCCC;
}
.top-button button:first-child {
    margin-right: 20px;
}
.fiexd {
    position: fixed;
  /*基準を画面の左上に*/
  top: 0;
  left: 0;
  /*余白が入らないように*/
  margin: 0;
  /*以下装飾*/
  width: 100%;
  /* background: #FFC778; */
  z-index: 10;
}
/* ----------- header ------------*/


/* -------------main -------------*/
.image {
    text-align: center;
}
.top img {
    /* width: 100%;
    max-width: 100%;
    height: auto; */
    height: 400px;
    margin-top: 60px;
}
.top .container-fluid {
    padding-right: 0;
    padding-left: 0;
}
.free {
    margin-top: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 30px;
    border-radius: 30px;
}
.btn-primary {
    background-color: #6A91C1;
    border-color: #6A91C1;
}



.komaru {
    background-color: #516C8D;
    padding-top: 30px;
    padding-bottom: 30px;
}
.komaru h2 {
    color: #CCCCCC;
}
.check {
    margin-right: auto;
    margin-left: auto;
    /* text-align: center; */
    padding-left: 40px;
    width: 80%;
}
.check p {
    font-size: 30px;
    color: #CCCCCC;
}


.merit {
    background-color: #D7E6EF;
    padding-top: 30px;
    padding-bottom: 30px;
}
.merit h3:nth-child(n +2 ){
    margin-top: 50px;
}
.merit p {
    text-align: center;
    /* width: 80%; */
}

.owner img{
    width: 100%;
    max-width: 100%;
    height: auto;
}






.costamar {
    width: 80%;
    /* text-align: center;
     */
     margin-left: auto;
     margin-right: auto;
}
.balloon {
    position: relative;
    margin: 2em 0 2em 40px;
    padding: 15px;
    background: #fff0c6;
    border-radius: 30px;
  }
  
  .balloon:before {  
    content: "";
    position: absolute;
    left: -38px;
    width: 13px;
    height: 12px;
    bottom: 0;
    background: #fff0c6;
    border-radius: 50%;
    z-index: 4;
  }
  
  .balloon:after {
    content: "";
    position: absolute;
    left: -24px;
    width: 20px;
    height: 18px;
    bottom: 3px;
    background: #fff0c6;
    border-radius: 50%;
    z-index: 4;
  }
  .balloon p {
    margin: 0; 
    padding: 0;
  }




.present {
    background-color: #000;
    padding-top: 30px;
    padding-bottom: 30px;
}
.present h2, .present p{
    color: #C09933;
}
.add-present p{
    margin-top: 30px;
}
.circle {
    width: 200px;/*幅*/
	height: 200px;/*高さ*/
	border-radius: 50%;/*角丸*/
    background: #E6D8B3;
    text-align:center;
  line-height: 200px;
  /* margin-right: auto;
  margin-left: auto; */
  display: inline-block;
  margin: 10px;
}
.center {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}


.owabi {
    background-color: #D7E6EF;
    padding-top: 30px;
    padding-bottom: 30px;
}


#acMenu dt{
    display:block;
    /* width:200px;
    height:50px; */
    padding-left: 20px;
    padding-right: 20px;
    line-height:50px;
    text-align:center;
    border:#DEDEDE 1px solid;
    cursor:pointer;
}
#acMenu dt:after{
    font-family: "Font Awesome 5 Free";
    content: "\f078";
    float: right;
    color: #CCCCCC;

}
#acMenu dd{
    background:#f2f2f2;
    /* width:200px;
    height:50px; */
    line-height:50px;
    text-align:center;
    border:#DEDEDE 1px solid;
    display:none;
}


.form {
    /* text-align: center; */
    padding: 40px 15%;
}
input, textarea , .form button{
    width: 100%;
    border: none;
}
input, textarea {
    margin-bottom: 10px;
    border-radius: 5px;

}
input {
    height: 55px;
}
textarea {
    height: 100px;
}
.submit-btn {
    border-radius: 30px;
    padding-top: 10px;
    padding-bottom: 10px;

}
.gmap {
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
}

.gmap iframe {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}


/* -------------main -------------*/


/* ------------footer ------------*/
.footer {
    margin-top: 30px;
}
.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* justify-content: center; */
}
.flex img {
    width: 75px;
    height: 75px;
    margin-left: 10px;
}
.flex p {
    color: #CCCCCC;
    margin-right: 30px;
}
/* ------------footer ------------*/




#page_top {
    width: 50px;
    height: 50px;
    position: fixed;
    right: 0;
    bottom: 0;
    /* background: #3f98ef; */
    background: #DEDEDE;
    /* background: #000; */
    opacity: 0.8;
    /* opacity: 1; */
    z-index: 999;
}

#page_top a {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    text-decoration: none;
}

#page_top a::before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f102';
    font-size: 25px;
    color: #fff;
    position: absolute;
    width: 25px;
    height: 25px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
}



@media screen and (max-width: 768px) {
    .header {
        height: 62px;
    }
    section {
        padding-right: 10px;
        padding-left: 10px;
    }
    .top img {
        width: 100%;
        max-width: 100%;
        height: auto;
        /* height: 400px; */
    }
    .top-button {
        top: 15%;
    }
    .tokuten {
        margin-right: auto;
        margin-left: auto;
        text-align: center;
    }
    .circle {
        margin-right: 0;
        margin-left: 0;
    }
    .center {
        text-align: center;
        margin-right: auto;
        margin-left: auto;
    }
}